:root {
  --ocre: #D1451E;
  --coral: #F0633C;
  --coral-claro: #FFDBD1;
  --creme: #FFFAF3;
  --verde-escuro: #263A29;
  --verde-medio: #3D6D4A;
  --cinza: #444444;
  --cinza-claro: #EFEFEF;
  --branco: #FFF;
  --font-family-padrao: Nunito Sans, sans-serif;
  --cabecalhos: Paytone One, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
button {
  border: 0;
  background-color: inherit;
  font: inherit;
}
body {
  min-height: 100vh;
  font-family: var(--font-family-padrao);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  background: url('./images/fundo-banner.png'), var(--verde-escuro, #263A29);
}
.cabecalho-lg {
  font-family: var(--cabecalhos);
  font-size: 3.35625em;
  line-height: 120%; /* 4.0275em */}
.cabecalho {
  font-family: var(--cabecalhos);
  font-size: 2.75em;
  line-height: 120%; /* 3.3em */}
.subtitulo-lg {
  font-size: 1.9375em;
  line-height: 150%; /* 2.90625em */}
.paragrafo-lg {
  font-size: 1.375em;
  line-height: 150%; /* 2.90625em */}
.paragrafo {
  font-size: 1.125em;
  line-height: 150%; /* 1.6875em */
}
@media only screen and (max-width: 767px) {
  .cabecalho-lg {
    font-size: 2.75em;
  }
  .cabecalho {
    font-size: 2.3125em;
  }
  .subtitulo-lg {
    font-size: 1.625em;
  }
}


.conteudo-principal {
  padding: 6.5rem 7.5rem;
  border-radius: 3.75rem 3.75rem 0rem 0rem;
  background: var(--creme, #FFFAF3);
  color: var(--cinza, #444);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  min-height: calc(100vh - 8rem);
}
@media only screen and (max-width: 1300px) {
  .conteudo-principal {
    padding: 5rem 3.75rem;
    gap: 3.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .conteudo-principal {
    padding: 4rem 1.5rem;
    gap: 4rem;
  }
}
